[project]
	description = FreeBSD src tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/semihalf-rytarowski-kamil
[access "refs/for/refs/*"]
	read = group user/semihalf-rytarowski-kamil
	push = group user/semihalf-rytarowski-kamil
	label-Code-Review = -2..+2 group user/semihalf-rytarowski-kamil
	label-Verified = -1..+1 group user/semihalf-rytarowski-kamil
	rebase = group user/semihalf-rytarowski-kamil
	removeReviewer = group user/semihalf-rytarowski-kamil
	submit = group user/semihalf-rytarowski-kamil
[access "refs/heads/*"]
	read = group user/semihalf-rytarowski-kamil
	create = group user/semihalf-rytarowski-kamil
	push = +force group user/semihalf-rytarowski-kamil
	pushMerge = group user/semihalf-rytarowski-kamil
[access "refs/tags/*"]
	push = +force group user/semihalf-rytarowski-kamil
	pushTag = group user/semihalf-rytarowski-kamil
	pushSignedTag = group user/semihalf-rytarowski-kamil
